@import 'colors';

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

body {
	height: 100vh;
	background-color: $darkCream;
	width: 100%;
	font-family: 'Montserrat', sans-serif;
}

footer {
	text-align: center;
	display: block;
	background-color: $veryDarkGreen;
	p {
		padding: 40px 0;
		color: $cream;
	}
}
.padding-section {
	padding: 0 15px;
}
.wrapper {
	margin-right: auto; /* 1 */
	margin-left: auto; /* 1 */
	max-width: 960px; /* 2 */
	padding-right: 10px; /* 3 */
	padding-left: 10px; /* 3 */

	.cv__content {
		width: 100%;
		height: 100%;

		&__main {
			border: 1px solid black;
			background-color: $cream;
			
			&__header {
                padding-top: 10px;
				display: flex;
				flex-direction: column;
				align-items: center;
				img {
					width: 100%;
					max-width: 400px;
					border-radius: 50%;
				}
			}
		}
	}
}
