@import 'colors';

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

body {
	height: 100vh;
	background-color: $darkCream;
	width: 100%;
	font-family: 'Montserrat', sans-serif;
}

footer {
	text-align: center;
	display: block;
	background-color: $veryDarkGreen;
	p {
		padding: 40px 0;
		color: $cream;
	}
}
.padding-section {
	padding: 0 20px;
}
.wrapper {
	margin-right: auto; /* 1 */
	margin-left: auto; /* 1 */
	max-width: 960px; /* 2 */
	padding: 20px;

	.cv__content {
		width: 100%;
		height: 100%;
		position: relative;

		&__button {
			position: absolute;
			top: 10px;
			left: 10px;
			padding: 5px;
			transition: transform 0.3s;

			button {
				border: none;
				border-radius: 5px;
				background-color: $darkCream;
			}

			i {
				color: black;
				font-size: 18px;
				padding: 5px;
			}
		}

		&__button:hover {
			transform: scale(1.1);
		}
		&__button__print {
			position: absolute;
			top: 10px;
			right: 10px;
			cursor: pointer;
			padding: 5px;
			transition: transform 0.3s;

			button {
				border: none;
				border-radius: 5px;
				cursor: pointer;
				background-color: $darkCream;
			}

			i {
				color: black;
				font-size: 18px;
				padding: 5px;
			}
		}
		&__button__print:hover {
			transform: scale(1.1);
		}

		&__main {
			border-radius: 10px;
			background-color: $cream;
			box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;

			&__header {
				padding-top: 10px;
				display: flex;
				flex-direction: column;
				align-items: center;
				img {
					width: 100%;
					max-width: 400px;
					border-radius: 50%;
				}

				.text__header {
					padding: 10px 0;
					margin-bottom: 10px;

					i {
						margin-right: 10px;
						font-size: 18px;
					}

					p {
						margin-top: 7px;
					}
					p:first-child {
						margin-top: 0;
						padding: 10px 0;
						font-size: 28px;
						font-weight: 500;
						text-align: center;
					}
				}
			}

			&__experience {
				background-color: $lightGreen;
				color: $cream;
				.experience {
					&__text {
						padding-bottom: 15px;
					}
					&__header {
						text-align: center;
						padding: 15px 0;
						h2 {
							font-size: 32px;
						}
					}

					&__text__item p:first-child {
						text-align: right;
						padding: 10px 0;
						padding-top: 0;
						font-weight: 400;
						font-style: italic;
					}
					&__text__item:first-child {
						padding-top: 0;
					}

					&__text__item {
						padding: 15px 0;
						h2 {
							font-size: 22px;
							margin-bottom: 10px;
						}
					}
				}
			}

			&__education {
				.education {
					&__header {
						padding: 15px 0;
						h2 {
							font-size: 32px;
							text-align: center;
						}
					}
					&__text {
						padding-bottom: 15px;
						p:first-child {
							text-align: right;
							padding-bottom: 10px;
							font-style: italic;
						}

						p {
							padding-bottom: 15px;
						}
						h2 {
							font-size: 22px;
							margin-bottom: 6px;
						}
					}
				}
			}
			&__skills {
				background-color: $lightGreen;

				.skills {
					color: $cream;
					&__header {
						padding: 15px 0;
						h2 {
							text-align: center;
							font-size: 32px;
						}
					}

					&__text {
						line-height: 20px;
						h3 {
							padding-bottom: 15px;
							font-size: 24px;
						}
						&__frontend {
							margin-bottom: 35px;
							&__card {
								margin-bottom: 20px;
								// h4 {
								// 	padding-bottom: 5px;
								// }
							}
						}

						&__interpersonal {
							padding-bottom: 15px;

							&__card {
								margin-bottom: 20px;
							}
						}
					}
				}
			}

			&__interests {
				.interests {
					h2 {
						font-size: 36px;
						text-align: center;
						padding: 15px 0;
					}

					&__cards {
						display: flex;
						flex-direction: column;

						&__card {
							display: flex;
							flex-direction: column;
							align-items: center;
							padding: 10px;
							margin-bottom: 10px;
							border: 1px solid $darkCream;
							border-radius: 8px;
							i {
								font-size: 28px;
								padding-bottom: 5px;
							}
							p {
								font-size: 18px;
							}
						}
					}
				}
			}
		}
	}
}

@media (min-width: 768px) {
	.wrapper {
		.cv__content {
			&__button {
				i {
					font-size: 32px;
				}
			}
			&__button__print {
				i {
					font-size: 32px;
				}
			}
		}
		.cv__content__main__header {
			flex-direction: row;
			justify-content: space-evenly;
			padding: 20px;
			img {
				max-width: 320px;
			}
		}
		.cv__content__main__interests {
			.interests__cards {
				flex-direction: row;
				align-items: center;
				justify-content: space-around;

				padding-top: 15px;
				padding-bottom: 25px;
			}
		}
	}
}

@media print {
	.wrapper {
		.cv__content__main__header {
			flex-direction: row;
			justify-content: space-evenly;
			padding: 20px;

			img {
				max-width: 330px;
			}
		}

		.cv__content__main__interests {
			.interests {
				&__cards {
					flex-direction: row;
					justify-content: space-around;
				}
			}
		}
		button{
			visibility: hidden;
		}
	}
}
